.navbar {
  box-shadow: 0px 1px 0px 0px #00000029;
}

.navbar-brand {
  color: #333 !important;
  font-weight: 400 !important;
}
.nav {
  font-size: 1rem;
  font-weight: 300;
}
.nav-link {
  color: #333 !important;
}

.nav-item {
  margin-left: auto !important;
}

.main-blog-title {
  width: 45%;
}

.main-blog-subtext {
  width: 25%;
  font-weight: 350 !important;
}

.all-article-container {
  margin-top: 2.5rem;
  width: 65% !important;
}

.read-next-container {
  position: relative;
}
.image-container {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.image-container img {
  display: block;
  width: 100%;
  height: 60%;
}
.name-bold {
  font-weight: 800;
}

.tag-link {
  padding: 0px 8px;
  color: black;
}

.share-link-container {
  width: 40%;
  border: 1px solid rgba(126, 126, 126, 0.2);
}

.eyes-logo {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-image-blog-detail {
  border-radius: 32px !important;
  width: 65px !important;
  height: 65px !important;
}

.author-container {
  width: 60% !important;
}

.icon-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
  width: 80px;
  font-size: 25px;
  text-align: center;
}

.read-next-article-container {
  margin-top: 2.5rem;
  width: 95% !important;
}

.all-article-image-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 30px;
}

.all-article-row {
  margin-bottom: 30px;
}

.all-article-title {
  padding: 0 2.75rem;
  margin-top: 20px;
  font-weight: 500 !important;
}

.all-article-image {
  object-fit: cover;
  width: 100%;
  height: 250px !important;
}

@media (max-width: 768px) {
  .all-article-container {
    width: 98% !important;
  }
  .main-blog-title {
    width: 93%;
  }
  .main-blog-subtext {
    width: 78%;
  }
}

.marquee-text {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 10px;
}

.marquee-text.bold-text {
  font-weight: bold;
}

.footer-description {
  width: 35%;
  font-size: 13px;
  font-weight: 300;
  align-content: center;
}

.footer {
  height: auto !important;
  background-color: #000 !important;
  color: #fff !important;
}

.signin-with-google {
  border: 1px solid #d4d4d4;
  background-color: #fff !important;
  border-radius: 5px !important;
  padding: 12px 10px !important;
  width: 40vw !important;
}

.or-text {
  color: #333;
}

.login-signup-input {
  width: 40vw !important;
  padding: 10px 10px !important;
}

.secondary-btn-login-signup {
  border: 1px solid #d4d4d4 !important;
}

.login-signup-line {
  border-top: 1px solid #d4d4d4;
  width: 10vw;
}

.login-container {
  height: 200vh !important;
}

.login-signup-image {
  width: 100vh !important;
  height: auto;
}

.login-signup-btn {
  width: 40%;
}
.custom-login-signup-column {
  width: 100% !important;
}

@media (max-width: 610px) {
  .login-signup-image {
    height: 30vh !important;
    width: 150vw !important;
    object-fit: cover;
  }

  .login-signup-input {
    width: 70vw !important;
  }
  .login-signup-btn {
    width: 100% !important;
  }
}

.sidebar {
  width: 180px;
  position: fixed !important;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 !important;
}

.admin-outlet-container {
  margin-left: 20vw !important;
}
.admin-dashboard-container {
  padding: 10px 55px;
  padding-top: 100px;
}

.sidebar-container {
  height: 90vh !important;
  width: 80% !important;
  margin-top: 30px !important;
}

.admin-nav {
  z-index: 1 !important;
  width: 84% !important;
}

.noti-icon {
  margin-right: 80px;
}

.admin-blog-list-container {
  padding: 100px 20px;
  min-height: 100vh;
}

.user-profile-container {
  min-height: 80vh;
}

.profile-image {
  border-radius: 60px !important;
  width: 105px !important;
  height: 105px !important;
}

.blog-add-form-container {
  min-height: 80vh;
}

.plus-icon {
  z-index: 1;
  top: 38px;
  bottom: 0;
  left: 50%;
  cursor: pointer;
}

.image-input {
  height: 2.5rem;
  cursor: pointer;
}

.blog-textarea {
  height: 40vh;
}

@media (width <= 767px) {
  .blog-textarea {
    height: 80vh;
  }
}
.piechart-container {
  position: relative !important;
}

.dashboard-color-indicator-container {
  position: absolute !important;
  top: 100px !important;
  right: 100px !important;
  z-index: 3;
}

/* .admin-user-confirm-model {
  z-index: -3 !important;
} */
