.navbar {
  box-shadow: 0px 1px 0px 0px #00000029;
}

.navbar-brand {
  color: #333 !important;
  font-weight: 400 !important;
}
.nav {
  font-size: 1rem;
  font-weight: 300;
}
.nav-link {
  color: #333 !important;
}

.nav-item {
  margin-left: auto !important;
}

.main-blog-title {
  width: 45%;
}

.main-blog-subtext {
  width: 25%;
  font-weight: 350 !important;
}

.all-article-container {
  margin-top: 2.5rem;
  width: 65% !important;
}

.read-next-container {
  position: relative;
}
.image-container {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.image-container img {
  display: block;
  width: 100%;
  height: 60%;
}
.name-bold {
  font-weight: 800;
}

.tag-link {
  padding: 0px 8px;
  color: black;
}

.share-link-container {
  width: 40%;
  border: 1px solid rgba(126, 126, 126, 0.2);
}

.eyes-logo {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-image {
  border-radius: 32px !important;
  width: 65px !important;
  height: 65px !important;
}

.author-container {
  width: 60% !important;
}

.icon-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
  width: 80px;
  font-size: 25px;
  text-align: center;
}

.read-next-article-container {
  margin-top: 2.5rem;
  width: 95% !important;
}

.all-article-image-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 30px;
}

.all-article-row {
  margin-bottom: 30px;
}

.all-article-title {
  padding: 0 2.75rem;
  margin-top: 20px;
  font-weight: 500 !important;
}

.all-article-image {
  object-fit: cover;
  width: 100%;
  height: 250px !important;
}

@media (max-width: 768px) {
  .all-article-container {
    width: 98% !important;
  }
  .main-blog-title {
    width: 93%;
  }
  .main-blog-subtext {
    width: 78%;
  }
}

.marquee-text {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 10px;
}

.marquee-text.bold-text {
  font-weight: bold;
}

.footer-description {
  width: 35%;
  font-size: 13px;
  font-weight: 300;
  align-content: center;
}

.footer {
  height: 350px !important;
  background-color: #000 !important;
  color: #fff !important;
}
